@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  width: 1440px;
  margin: 0 auto;
  flex: 1 1 auto;
  font-family: Space Grotesk;
  text-transform: uppercase;
  background-color: #DEDEDE;
  flex: 1 1 auto;
}

.title {
  padding: 10px 20px 10px 20px;
}

.container {
  max-width: 1400px;
}

.row {
  display: flex;
}

.title__title {
  color: var(--Almost-black, #020202);
  /* Logo */
  font-family: Space Grotesk;
  font-size: 98px;
  font-style: normal;
  font-weight: 400;
  line-height: 85%;
  /* 83.3px */
  text-transform: uppercase;
}

.title__list {
  margin-left: 242px;
}

ul li a {
  color: #020202;
  font-size: 12px;
}

.title__list2 {
  font-size: 12px;
  margin-left: 131px;
}

.summa {
  font-size: 12px;
  margin-left: 123px;
}
.summa a {
  color: #020202;
  font-size: 12px;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.expertsindress__row {
  border: 1px solid #6F6F6F;
  display: flex;
}

.img {
  width: 932px;
  height: 620px;
  border-right: 1px solid #6F6F6F;
}

.img__img {
  width: 912px;
  height: 600px;
  margin: 11px 10px 11px 10px;
  background: url(../img/Rectangle\ 55.jpg);
}

.column {
  display: flex;
  flex-direction: column;
}

.expertsindress__title {
  font-size: 48px;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.p {
  font-size: 16px;
  text-transform: none;
  width: 440px;
}

.dekoration {
  height: 310px;
  width: 467px;
  background: url(..//img/Line\ 10.png) 0 0 no-repeat, url(..//img/Line\ 3.png) no-repeat, url(..//img/Line\ 4.png) right no-repeat, url(..//img/Line\ 9.png) center no-repeat;
}

.block_future {
  width: 1400px;
  height: 120px;
  margin-left: 20px;
}

.container {
  width: 1440px;
  background-color: #DEDEDE;
}

.footerForm {
  width: 1400px;
  height: 103px;
  margin: 0 auto;
  background-color: #DEDEDE;
}

.footerForm .blockHi {
  display: flex;
  width: 1399px;
  height: 52px;
  border: 1px solid #6f6f6f;
}

.footerForm .blockHi .singUp {
  width: 463px;
  height: 52px;
  padding: 16px 9px 10px 10px;
  color: var(--Almost-black, #020202);
  /* Headline 2 */
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  /* 22px */
  text-transform: uppercase;
}

.footerForm .blockHi .email {
  width: 468px;
  height: 51px;
  border: 1px solid #6f6f6f;
  border-top: 0px;
  padding-left: 10px;
  padding-top: 10px;
  color: var(--Almost-black, #020202);
  font-family: Space Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 19.2px */
  text-transform: uppercase;
  background: #dedede;
}

.footerForm .blockHi .buttonSubscribe {
  padding: 16px 180px 15px 179px;
  width: 467px;
  height: 51px;
  flex-shrink: 0;
  color: var(--Almost-black, #020202);
  /* Headline 2 */
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  /* 22px */
  text-transform: uppercase;
  opacity: 0.7;
  background: var(--Grey, #6f6f6f);
}

.footerForm .blockLO {
  display: flex;
  width: 1400px;
  height: 51px;
}

.footerForm .blockLO .nonBlock {
  width: 464px;
  height: 50px;
}

.footerForm .blockLO .resultInfo {
  padding-top: 16px;
  padding-left: 10px;
  border: 1px solid #6f6f6f;
  border-top: 0px;
  width: 935px;
  height: 50px;
  color: var(--Almost-black, #020202);
  /* Text 1 */
  font-family: Space Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 19.2px */
  opacity: 0.5;
}

/*HIGHLAND WEAR*/
.highlandwearblock_container {
  width: 1400px;
  height: 821px;
  margin: 0 auto;
  border: 1px solid #6F6F6F;
}

.highlandwearblock_title {
  width: 1400px;
  height: 81px;
  font-size: 48px;
  border-bottom: 1px solid #6F6F6F;
  padding-left: 11px;
  padding-top: 20px;
  background: url(..//img/Union.png) 1305px 23px no-repeat;
}

.highlandwearblock_toprow {
  display: flex;
}

.block {
  width: 232px;
  height: 356px;
  border: 1px solid #6F6F6F;
}

.imgallforblock {
  width: 213px;
  height: 300px;
  margin: 10px 9px 10px 9px;
}

.img1 {
  background: url(..//img/Rectangle\ 58.png) center no-repeat;
}

.button_block {
  font-size: 20px;
  text-transform: uppercase;
  width: 232px;
  text-align: left;
  padding-left: 10px;
  padding-top: 3px;
}

.button_block1 {
  border-top: 1px solid #6F6F6F;
  background: url(..//img/Arrow.png) 190px 13px no-repeat;
}

.img4 {
  background: url(..//img/Rectangle\ 58_2.png) center no-repeat;
}

.button_block4 {
  border-top: 1px solid #6F6F6F;
  background: url(..//img/Arrow.png) 190px 13px no-repeat;
}

.img6 {
  background: url(..//img/Rectangle\ 58_3.png) center no-repeat;
}

.button_block6 {
  border-top: 1px solid #6F6F6F;
  background: url(..//img/Arrow.png) 190px 13px no-repeat;
}

.highlandwearblock_buttomrow {
  display: flex;
}

.img8 {
  background: url(..//img/Rectangle\ 58_8.png) center no-repeat;
}

.button_block8 {
  border-top: 1px solid #6F6F6F;
  background: url(..//img/Arrow.png) 190px 13px no-repeat;
}

.img9 {
  background: url(..//img/Rectangle\ 58_9.png) center no-repeat;
}

.button_block9 {
  border-top: 1px solid #6F6F6F;
  background: url(..//img/Arrow.png) 193px 13px no-repeat;
}

.img11 {
  background: url(..//img/Rectangle\ 58_11.png) center no-repeat;
}

.button_block11 {
  border-top: 1px solid #6F6F6F;
  background: url(..//img/Arrow.png) 190px 13px no-repeat;
}