@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

// пару переменных добавлю 
$width_block_content: 1400px;

.wrapper {
    width: 1440px;
    height: 3521px;
    background: #DEDEDE;
    border: 2px solid black;
    margin: 0 auto;
    padding: 10px 0px 0px 0px; // пока не нашел решения обойти этот отступ
}

.title {
    color: var(--Almost-black, #020202);
    /* Logo */
    font-family: Space Grotesk;
    font-size: 98px;
    font-style: normal;
    font-weight: 400;
    line-height: 85%;
    /* 83.3px */
    text-transform: uppercase;
}

.container {
    width: 102px;
    height: 120px;

    .header__menu {
        color: var(--Almost-black, #020202);
        font-family: Space Grotesk;
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        text-align: top;

        .header__list {
            list-style-type: none; //убрал маркеры (точки) списка!!!)))
           
        }

        ul li a {
            color: #020202;
            text-decoration: none; //убрал подчеркивание ссылки !
            margin: 0px 1px 0px 0px ; // нихера не дает
             
        }
    }

}


.content {
    width: width_block_content;
    display: flex;
    flex-direction: column;
    // flex: 0px 1px auto;
    align-items: center;
    

    .header {
        width: 1400px;
        height: 166px;
        background: #ebcbcb;
        display: flex;
        border: 2px solid black;
    }

    .main {
        width: 1400px;
        background: #c85151;
        
        border: 2px solid black;
        
        flex: 1px 1px auto; //не сработало
    }

    .footer {
        width: 1400px;
        background: #390f0f;
        height: 300px;
        border: 2px solid black;
        
    }
}